
*{
    font-family: monospace;
}
body{
    margin:0;
    background-color: rgb(214, 238, 238);
    
}
header{
    height: 100vh;
    color: rgb(117, 6, 6);
    background-color: #0a78a4 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px ;
    border-radius: 20px;
}
h1{
    font-size: 50px;
    color: #1e5c9d;
}
header h1{
text-align: center;
    color:white;
}


.button{ margin: 15px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}
.button:hover{
    color:white;
    background-color: rgb(163, 236, 132);
    font-size: 25px ;
    transform: translateY(5px);
  
    
}
img{
    height:300px;

}
.image-caption {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
main{
    padding: 20px;
}
section{
    min-height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color:white;
    background-color: rgb(46, 217, 103);
}
.submit:hover{
    background-color: rgb(13, 120, 120);
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height:25px;
}
footer{
    height: 124px;
    background-color: black;
    color:lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up{
    display: inline;
    position: fixed;
    bottom:0;
}